<div style="display: inline;">
    <label>Start Date:</label>
    <input type="date" [(ngModel)]="startDate" (change)="checkDateValidation()" placeholder="Start Date" #start/>
    <label>End Date:</label>
    <input type="date" [(ngModel)]="endDate" (change)="checkDateValidation()" placeholder="End Date" #end/>
    <button type="submit" (click)="showResult()"
    [disabled]="invalidDate || startDate > today || endDate > today || start.value.length === 0 || end.value.length === 0">Show Result</button>
</div>
<span *ngIf="invalidDate" style="color: red;">The end date should be after the start date</span>
<span *ngIf="startDate > today || endDate > today" style="color: red;">The latest day can be calculated is today</span>

<br>
<div *ngIf="responseToDisplay.length > 0">
    <div>
        <p><b>Day with least Counts:</b></p>
        <table>
            <th>Day of Week</th>
            <th>Date</th>
            <th>count</th>
            <tr>
                <td>{{dayOfWeekWithLeastCounts}}</td>
                <td>{{leastDayCount.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{leastDayCount.comptage}}</td>
            </tr>
        </table>
        <p>Day with highest Counts:</p>
        <table>
            <th>Day of Week</th>
            <th>Date</th>
            <th>count</th>
            <tr>
                <td>{{dayOfWeekWithHighestCounts}}</td>
                <td>{{highestDayCount.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{highestDayCount.comptage}}</td>
            </tr>
        </table>    
    </div>
    <p><b>The average of daily counts: </b> {{averageCount}} </p>    
    <p><b>The total of daily counts: </b> {{totalCount}} </p>
</div>

<div>
    <canvas #chart width="400" height="400" type="line"></canvas>
</div>
